html {
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    color: #D1AF93;
    font-size: 150%;
    font-weight: bold;
}

body {
    background-color: #240005;
}

#gameFrame {
    background: url('grafika/dekryptor2_tlo.jpg');
    position: relative;
    height: 927px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    width: 450px;
    position: absolute;
    top: 117px;
    right: 77px;
}

.tile {
    position: absolute;
}

.tileFreeze {
    position: absolute;
    height: 69px;
    width: 69px;
    box-shadow: 0 0 0px #08a40f;
    border-radius: 8px;
    cursor: move;
    z-index: 100;
}

#dzwignia {
    background: url('grafika/przyciski_dzwignia1.png');
    position: absolute;
    width: 76px;
    height: 129px;
    /*bottom: 142px;*/
    /*right: 112px;*/
    top: 127px;
    right: 44px;
}

#przycisk {
    background: url('grafika/przyciski_dzwignia3r.png') no-repeat;
    background-size: 100%;
    position: absolute;
    width: 51px;
    height: 51px;
    cursor: pointer;
    /*top: 645px;*/
    /*right: 126px;*/
    top: 121px;
    right: 56px;
    z-index: 100;
}

.poleTekstowe {
    background: url('grafika/poletekstowe.png') no-repeat;
    position: absolute;
    width: 300px;
    height: 100px;
    cursor: help;
}

#klucz {
    background-size: 100%;
    bottom: 254px;
    left: 75px;
    text-align: center;
    line-height: 90px;
}

#wiadomosc {
    background-size: 100%;
    bottom: 175px;
    left: 75px;
    text-align: center;
    line-height: 90px;
}

#szyfrogram {
    background-size: 100%;
    bottom: 96px;
    left: 75px;
    text-align: center;
    line-height: 90px;
}

#dropArea {
    /*background: url('grafika/poletekstowe.png') no-repeat;*/
    background-size: 100%;
    position: absolute;
    width: 500px;
    height: 200px;
    bottom: 85px;
    left: 425px;
}

.dropSlot {
    float: left;
    width: 69px;
    height: 69px;
    border-radius: 8px;
    margin: 4px 4px 4px 4px;
    background: transparent;
    z-index: 10;
}

.hovered {
    background: rgba(8, 164, 15, 0.15);
    box-shadow: 0 0 50px rgba(8, 164, 15, 0.35);
}

#trashCan {
    background: url('grafika/trash-can-icon-61364.png') no-repeat;
    position: absolute;
    float: left;
    border-radius: 8px;
    margin: 4px 4px 4px 4px;
    width: 69px;
    height: 69px;
    background-size: 100%;
    z-index: 10;
}

div#chatlist {
    position: absolute;
    height: 320px;
    width: 250px;
    left: 120px;
    top: 145px;
    color: #240005;
}

div.mousescroll {
    overflow: hidden;
}

div.mousescroll:hover {
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

.slimScrollDiv {
    border: 1px solid #ccc;
    margin: 10px;
}

​.​tooltip {
    border: 1px solid #240005;
    width: 150px;
}

span {
    display: block;
}
