html {
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    color: #D1AF93;
    font-size: 150%;
    font-weight: bold;
}

body {
    background-color:  #240005;
}

#gameFrame {
    background: url('grafika/dekryptor2_tlo.jpg');
    position: relative;
    height: 927px;
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

.list {
    width: 450px;
    position: absolute;
    top: 117px;
    right: 77px;
}

.tile {
    position: absolute;
}

.tileFreeze {
    position: absolute;
    height: 69px;
    width: 69px;
    box-shadow: 0 0 0px #08a40f;
    border-radius: 8px;
}

#dzwignia {
    background: url('grafika/przyciski_dzwignia1.png');
    position: absolute;
    width: 76px;
    height: 129px;
    /*bottom: 142px;*/
    /*right: 112px;*/
    top: 127px;
    right: 44px;
}

#przycisk {
    background: url('grafika/przyciski_dzwignia3r.png') no-repeat;
    background-size: 100%;
    position: absolute;
    width: 51px;
    height: 51px;
    /*top: 645px;*/
    /*right: 126px;*/
    top: 121px;
    right: 56px;
}

.poleTekstowe {
    background: url('grafika/poletekstowe.png') no-repeat;
    position: absolute;
    width: 300px;
    height: 100px;
}

#klucz {
    background-size: 100%;
    bottom: 254px;
    left: 75px;
    text-align: center;
    line-height: 90px;
}

#wiadomosc {
    background-size: 100%;
    bottom: 175px;
    left: 75px;
    text-align: center;
    line-height: 90px;
}

#table2Print {
    background: url('grafika/poletekstowe.png') no-repeat;
    background-size: 100%;
    position: absolute;
    width: 400px;
    height: 200px;
    bottom: 68px;
    left: 397px;
    display: none;
}

#dropArea {
    /*background: red;*/
    position: absolute;
    width: 500px;
    height: 200px;
    bottom: 85px;
    left: 413px;
}


.dropSlot {
    float: left;
    width: 69px;
    height: 69px;
    border: 2px solid #333;
    border-radius: 8px;
    margin: 4px 4px 4px 4px;
    background: transparent;
}
